@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400&family=Edu+SA+Beginner&family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Acumin Pro Regular';
  src: url('../fonts/FontsFree-Net-Acumin-Pro-Book.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
 
}

* {
  /* outline: 1px solid red; */
  /* font-family: 'Comic Neue'; */
  /* font-family: 'Acumin Pro re'; */
  /* color:#666633; */

  /* font-family: 'Poppins'; */
}

@layer base {
  button {
    @apply rounded-3xl text-white font-medium p-2 bg-orange-400
  }

}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


